<div class="column grid_3">
    <fieldset>
        <legend>Portfolio</legend>
        <ol>
            <li>
                <label for=initInvest>Initial Investment</label>
                <input id=initInvest name=initInvest type=number min=1
                       placeholder="ghgfd" required>
            </li>
            <li>
                <label for=transCost>Transaction Cost</label>
                <input id=transCost name=transCost type=number min="0">
            </li>
            <li>
                <label for=portSize>Portfolio Size</label>
                <input id=portSize name=portSize type=number min="1">
            </li>
            <li>
                <label for=holdingPeriod>Holding Period</label>
                <input id=holdingPeriod name=holdingPeriod type=number min="1">
            </li>
        </ol>
    </fieldset>
</div>