@external tire-calendarPopup, gwt-DatePicker, datePickerMonthSelector, datePickerDays, datePickerWeekdayLabel, datePickerWeekendLabel, datePickerDayIsToday, datePickerDayIsWeekend, datePickerDayIsFiller, datePickerDayIsValue, datePickerDayIsDisabled, datePickerDayIsHighlighted, datePickerDayIsValueAndHighlighted, datePickerMonthSelector, datePickerMonth, datePickerDay, datePickerPreviousButton, datePickerNextButton, gwt-PopupPanelGlass, gwt-SplitLayoutPanel-VDragger, gwt-SplitLayoutPanel-HDragger;
.tire-calendarPopup {
    box-shadow: #666 0px 4px 10px;
    -moz-box-shadow: #666 0px 4px 10px;
    -webkit-box-shadow: #666 0px 4px 10px;
}

.gwt-DatePicker {
    border: 1px solid #3d3d3d;
    color: #3d3d3d;
    cursor: default;
}

.gwt-DatePicker td, .datePickerMonthSelector td:focus {
    outline: none
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 90%;
    text-align: center;
    padding: 5px;
    outline: none;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
    color: white;
    background: #1b92a8;
    padding: 5px;
    cursor: default;
}

.datePickerDay {
    padding: 5px;
    cursor: hand;
    cursor: pointer;
}

.datePickerDayIsToday {
    border: 1px solid black;
    padding: 4px;
}

.datePickerDayIsWeekend {
    background: #dedede;
}

.datePickerDayIsFiller {
    color: #62635e;
}

.datePickerDayIsValue {
    color: white;
    background: #68d6ea;
}

.datePickerDayIsDisabled {
    color: #dedede;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #b8f5ff;
}

.datePickerDayIsValueAndHighlighted {
    background: #3cc5de;
}

.datePickerMonthSelector {
    background: #c3d9ff;
    width: 100%;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    font-size: 90%;
    color: white;
    background: #1b92a8;
}

.datePickerPreviousButton, .datePickerNextButton {
    font-size: 110%;
    line-height: 1em;
    color: white;
    background: #1b92a8;
    cursor: hand;
    cursor: pointer;
    padding: 0px 5px;
}

.gwt-PopupPanelGlass {
    background-color: #333;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

    /* Splitters */
.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
    background-color: white;

}

.gwt-SplitLayoutPanel-HDragger {
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    cursor: row-resize;
}

.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    background: #eeeeee;
    border-bottom: 1px solid #bdc1c7;
}

.gwt-TabLayoutPanelContentContainer {
    border: 0;
    height: 494px;
    /*border-color: #ff6666;*/
    /*border-style: solid;*/
    /*border-width: 2px 1px 1px;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    /*border-color: #660099;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    border: 0;
    overflow: hidden;
    padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 6px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    /*cursor: hand;*/
    color: black;
    /*font-weight: bold;*/
    text-align: center;
    /*background: #e3e3e3;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    font-weight: bold;
    /*background: #bcbcbc;*/
}