html, body, #back {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.main {
    margin: 0 auto;
    width: 960px;
}

#head {
    height: 80px;
    padding-top: 18px;
    background: url(../images/back_header.jpg) repeat-x;
    background-color: #dce1e4;
    border-bottom: 1px solid #bdc1c7;
}

#back {
    /*background: #f4f4f4 url(../images/background.png);*/
}

#menu {
    float: right;
    padding-top: 8px;
}

#menu li {
    float: left;
    padding-left: 36px;
    list-style-type: none;
}

#menu a {
    color: #444751;
    font-size: 13px;
    text-decoration: none;
}

#menu a:hover, #menu a:focus, #menu a:active {
    color: #116388;
}

#quote {
    font-size: 14px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    margin: 0;
}

#content {
    margin-bottom: 50px;
}

#intro {
    /*background: url(images/intro.jpg) no-repeat;*/
    /*margin-left: -21px;*/
    /*padding: 40px 61px;*/
    /*position: relative;*/
    /*height: 07px;*/
    /*width: 820px;*/
    /*z-index: 2;*/
}

#blurb {
    width: 475px;
}

/*Slider*/

#slider {
    margin: 0 auto;
}

.coin-slider {
    overflow: hidden;
    zoom: 1;
    position: relative;
    width: 475px;
    float: right;
    text-align: center;
    margin-right: -11px;
    padding-top: 10px;
    /*background: url(images/slider_shadow.png) 0 225px no-repeat;*/
}

.coin-slider a {
    text-decoration: none;
    outline: none;
    border: none;
}

.cs-buttons {
    font-size: 0px;
    padding: 24px 10px;
    float: left;
}

.cs-buttons a {
    margin-left: 5px;
    height: 11px;
    width: 11px;
    float: left;
    background: url(../images/slider_inactive.png);
    text-indent: -1000px;
}

a.cs-active {
    background: url(../images/slider_active.png);
    color: #FFFFFF;
}

.cs-title {
    width: 545px;
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
}

.cs-prev, .cs-next {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 10px;
    display: none;
}

.three-columns {
    margin: 0;
    height: 128px;
    padding-left: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.three-columns li {
    float: left;
    list-style: none;
    padding-left: 68px;
    width: 227px;
}

.three-collumns h2 a {
    color: #444751;
    font-size: 13px;
    text-decoration: none;
}

.ico-chart {
    background: url(../images/ico-chart.jpg) no-repeat top left;
}

.ico-paper {
    background: url(../images/ico-paper.jpg) no-repeat top left;
}

.ico-strategies {
    background: url(../images/ico-strategies.jpg) no-repeat top left;
}

/*Footer*/

#footer {
    background: url(../images/back_footer.jpg) repeat-x;
    background-color: #000000;
    height: 80px;
    margin-top: 37px;
    padding-top: 14px;
    color: #fff;
    clear: both;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer li {
    float: left;
    list-style: none;
    margin-right: 22px;
}

#footer a {
    color: #e2dfdf;
}

/*App*/

fieldset {
    /*border-left: 0;*/
    /*border-right: 0;*/
    /*border-bottom: 0;*/
    /*border: 1px solid #bdc1c7;*/
    border: 1px solid gray;
    /*padding: 0;*/
    display: inline-block;
    float: left;
}

legend {
    margin-left: 1em;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

.inputField {
    width: 6em;
}

.inputDateField {
    width: 8em;
}

label {
    /*float: left;*/
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.grid_1 {
    width: 60px;
}

.grid_2 {
    width: 140px;
}

.grid_3 {
    width: 220px;
}

.grid_4 {
    width: 300px;
}

.grid_5 {
    width: 380px;
}

.grid_6 {
    width: 460px;
}

.grid_7 {
    width: 540px;
}

.grid_8 {
    width: 620px;
}

.grid_9 {
    width: 700px;
}

.grid_10 {
    width: 780px;
}

.grid_11 {
    width: 860px;
}

.grid_12 {
    width: 940px;
}

.column {
    float: left;
    margin: 0 10px;
    overflow: hidden;
    display: inline;
}

.row {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#universe-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}

#universe-table th {
    font-weight: normal;
    border-bottom: 1px solid;
    padding: 10px 8px;
}

#universe-table td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#universe-table tbody tr:hover td {
    color: #009;
}