   <div id="head">
        <div class="main">
            <a class="left" href="index.html"><img src="content/images/mojo_logo.png" alt="Mojoinvest"/></a>
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="app.html">App</a></li>
                <li><a href="index.html">Tools</a></li>
                <li><a href="index.html">Help</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>