{{<mustache/super}}
{{$title}}App{{/title}}

{{$content}}
<div id="params"></div>
<div id="universe"></div>
{{/content}}

{{$foot-scripts}}
<script>
    App.backtestParams = new BacktestParams({{backtestParams}});
    App.funds = new Funds({{funds}}});
</script>
{{/foot-scripts}}

        {{/mustache/super}}