<div class="column grid_3">
    <fieldset>
        <legend>Portfolio</legend>
        <ol>
            <li>
                <label for=initInvest>Initial Investment</label>
                <input id=initInvest name=initInvest type=number
                       value="{{portfolioParams.initialInvestment}}">
            </li>
            <li>
                <label for=transCost>Transaction Cost</label>
                <input id=transCost name=transCost type=number value="{{portfolioParams.transactionCost}}">
            </li>
            <li>
                <label for=portSize>Portfolio Size</label>
                <input id=portSize name=portSize type=number value="{{strategyParams.portfolioSize}}">
            </li>
            <li>
                <label for=holdingPeriod>Holding Period</label>
                <input id=holdingPeriod name=holdingPeriod type=number
                       value="{{strategyParams.rebalanceFrequency}}">
            </li>
        </ol>
    </fieldset>
</div>
<div class="column grid_3">
    <fieldset>
        <legend>Relative Strength</legend>
        <ol>
            <li>
                <input id="maRatioRadio" type="radio" name="rsRadio" value="maRatioRadio"
                       checked/>
                <label for="maRatioRadio">MA Ratio</label>
                <select id="ma1" name="ma1">
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="26">26</option>
                    <option value="39">39</option>
                    <option value="52">52</option>
                </select>
                <select id="ma2" name="ma2">
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="26">26</option>
                    <option value="39">39</option>
                    <option value="52">52</option>
                </select>
            </li>
            <li>
                <input id="rocRadio" type="radio" name="rsRadio" value="rocRadio"/>
                <label for="rocRadio">Rate of Change</label>
                <select id="roc" name="roc" disabled>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="26">26</option>
                    <option value="39">39</option>
                    <option value="52">52</option>
                </select>
            </li>
            <li>
                <input id="alphaRadio" type="radio" name="rsRadio" value="alphaRadio"/>
                <label for="alphaRadio">Alpha</label>
                <select id="alpha" name="alpha" disabled>
                    <option value="100">100</option>
                </select>
            </li>
        </ol>

    </fieldset>
</div>
<div class="column grid_3">
    <fieldset>
        <legend>Risk</legend>
        <ol>
            <li>
                <label for="stdDevLabel">Adjust by Std Dev</label>
                <input type="checkbox" id="stdDevLabel"
                       onclick="$('#stdDev').toggleDisabled()"/>
                <select id="stdDev" name="roc" disabled>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="26">26</option>
                    <option value="39">39</option>
                    <option value="52">52</option>
                </select>
            </li>
            <li>
                <label>Trade Equity Curve</label>
                <input type="checkbox" id="tradeEquityLabel"
                       onclick="$('#tradeEquity').toggleDisabled()"/>
                <input id="tradeEquity" name=portSize type=number min="4" disabled value="52">
            </li>
            <li>
                <label>Use Safe Asset</label>
                <input type="checkbox" id="safeAssetCheck"
                       onclick="$('#safeAsset').toggleDisabled()"/>
                <input id=safeAsset name=safeAsset type=text disabled>
            </li>
        </ol>
    </fieldset>
</div>
<div class="column grid_3">
    <fieldset>
        <legend>Portfolio</legend>
        <ol>
            <li>
                <div>
                    <label for="fromDate">From Date</label>
                    <input type="text" id="fromDate" value="{{backtestParams.fromDate}}"/>
                </div>
            </li>
            <li>
                <div>
                    <label for="toDate">To Date</label>
                    <input type="text" id="toDate" value="{{backtestParams.toDate}}"/>
                </div>
            </li>
        </ol>
    </fieldset>
</div>