<html>
<head>
    <title>{{$title}}Default Title{{/title}}</title>
    {{$head}}{{/head}}
    <link href="../css/mojo.css" rel="stylesheet" type="text/css"/>
    <script src="../lib/jquery-1.7.2.min.js"></script>
    <script src="../lib/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone.js"></script>
    <script src="../lib/ICanHaz.js"></script>
    <script src="../lib/jquery.fixedheadertable.js"></script>
    <script src="http://www.google.com/jsapi"></script>
    <script src="../lib/dygraph-combined.js"></script>

    {{$head-scripts}}{{/head-scripts}}
</head>
<body>
<div id="back">

    <div id="head">
        {{$head}}
        <div class="main">
            <a class="left" href=""><img src="../images/mojo_logo.png" alt="Mojoinvest"/></a>
            <ul id="menu">
                <li><a href="">Home</a></li>
                <li><a href="">Backtest</a></li>
                <li><a href="">Tools</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        {{/head}}
    </div>

    <div id="loadingDiv">Loading</div>

    <div id="content" class="main">
        {{$content}}Default Body{{/content}}
    </div>

    <div id="footer">
        {{$footer}}
        <div class="main">
            <ul class="left">
                <li><a href="About/index.html">About</a></li>
                <li><a href="Help/index.html">Help</a></li>
                <li><a href="Terms/index.html">Terms</a></li>
            </ul>
                <span class="right">
                    &copy; 2012 Mojoinvest Ltd.
                </span>

            <div class="clear"></div>
        </div>
        {{/footer}}
    </div>
</div>

{{$foot-scripts}}{{/foot-scripts}}

</body>
</html>