{{<mustache/super}}
{{$title}}Tools | MojoInvest{{/title}}

{{$head-scripts}}
{{/head-scripts}}

{{$content}}

<div>
    <ul>
        <li>Correlation view plot</li>
        <li>Correlation matrix</li>
        <li>Volatility graphs</li>
        <li>Geographical heat map through time - needs to store %return along with ranking values</li>
        <li>Point & Figure charts</li>
    </ul>
</div>

{{/content}}

        {{/mustache/super}}