<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>AlphaPosition</display-name>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Alphaposition.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--
         This Guice listener hijacks all further filters and servlets. Extra
         filters and servlets have to be configured in your
         ServletModule#configureServlets() by calling
         serve(String).with(Class<? extends HttpServlet>) and
         filter(String).through(Class<? extends Filter)
     -->
    <listener>
        <listener-class>com.mns.alphaposition.server.guice.MyGuiceServletContextListener</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/mapreduce/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!--Remote Api -->
    <servlet>
        <servlet-name>RemoteApi</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoteApi</servlet-name>
        <url-pattern>/remote_api</url-pattern>
    </servlet-mapping>

    <!--Mapper servlet for uploading data-->
    <servlet>
        <servlet-name>mapreduce</servlet-name>
        <servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mapreduce</servlet-name>
        <url-pattern>/mapreduce/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.mns.alphaposition.server.servlet.UploadBlobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuccessfulUpload</servlet-name>
        <servlet-class>com.mns.alphaposition.server.servlet.SuccessfulUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuccessfulUpload</servlet-name>
        <url-pattern>/upload-success</url-pattern>
    </servlet-mapping>


</web-app>