<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>MojoInvest</display-name>

    <!-- Default page to serve -->
    <!--<welcome-file-list>-->
    <!--<welcome-file>index.html</welcome-file>-->
    <!--</welcome-file-list>-->

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
        This Guice listener hijacks all further filters and servlets. Extra
        filters and servlets have to be configured in your
        ServletModule#configureServlets() by calling
        serve(String).with(Class<? extends HttpServlet>) and
        filter(String).through(Class<? extends Filter)
    -->
    <listener>
        <listener-class>com.mns.mojoinvest.server.guice.MojoGuiceServletContextListener</listener-class>
    </listener>

    <!--Security Constraints-->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
            <url-pattern>/mapper/*</url-pattern>
            <url-pattern>/remote_api/*</url-pattern>
            <url-pattern>/mapreduce/*</url-pattern>
            <url-pattern>/upload</url-pattern>
            <url-pattern>/upload-success</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>